form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: calc(1.5rem + 1.5vw);


		input,
		textarea {
			font-weight: 300;
			font-size: calc(1rem + 1vw);
			line-height: calc(1.6rem + 1.6vw);
			letter-spacing: calc(0.1rem + 0.1vw);

			background-color: inherit;

			padding: calc(1rem + 1vw);
		}

	input {
		border: none;
		border-bottom: 2px solid $accent1;

		width: 100%;
	}

	textarea {
		border: 2px solid $accent1;
		height: calc(10rem + 10vw);
	}
}

#comment,
#message,
button {
	grid-column: span 2;
}