// footer
footer {
	background-color: $black;
	// padding: 0.5rem;
	padding: calc(0.25rem + 0.25vw);

	position: relative;
	
	p {
		color: $white;

		margin: 0;
	}
	
	.copyright {
		text-align: center;
	}

	.created {
		// font-size: 1.6rem;
		font-size: calc(0.8rem + 0.8vw);
		
		position: absolute;
		left: 1rem;
		bottom: 0.5rem;

		a {
			text-decoration: underline;
			transition: 0.1s opacity;

			&:hover,
			&:focus {
				opacity: 60%;
			}
		}
	}
}