// home page header
.home-page {
	header {	
		height: 100vh;
		position: relative;

		.accent-image {
			z-index: 90;
			position: absolute;
			left: 0;
			bottom: 0;

			background-image: url(../images/header-box.jpg);
			background-size: cover;

			// height: 40vw;
			height: calc(20rem + 30vw);
			// width: 40vw;
			width: calc(20rem + 30vw);

		}
	}

	.hero {
		background-image: url(../images/home-image-1.jpg);
		background-size: cover;

		height: 85%;
	}


	h1 {
		text-transform: lowercase;
		font-size: 6.2rem;
		letter-spacing: 0.67rem;
		font-weight: 900;
		font-style: italic;
		
		color: $accent3;

		z-index: 100;
		position: absolute;
		bottom: 40rem;
		// bottom: calc(10rem + 15vw);
		// left: 39.5rem;
		left: calc(15rem + 25vw);


		width: 40rem;

		span {
			font-family: $secondaryFont;
			text-transform: uppercase;
			font-size: 11.12rem;

			color: $accent2;
		}
	}
}

// blog and contact page headers
.blog-page,
.contact-page {
	header {
		background-size: cover;

		height: 70vh;
	}

	h1 {
		font-weight: bold;
		font-size: 8.7rem;
		line-height: 5.8rem;
		letter-spacing: 0.9rem;

		color: $white;

		margin-top: 25vh;
	}
}

// blog header
.blog-page header {
	background-image: url(../images/blog-image-1.jpg);
}

.contact-page header{
	background-image: url(../../images/contact-image-1.jpg);
}