// home page header
.home-page {
	header {	
		height: 100vh;
		position: relative;

		.accent-image {
			z-index: 90;
			position: absolute;
			left: 0;
			bottom: 0;

			background-image: url(../images/header-box.jpg);
			background-size: cover;

			// height: 40vw;
			height: calc(20rem + 28vw);
			// width: 40vw;
			width: calc(20rem + 28vw);



			max-height: 80vh;
			// max-width: 65rem;
		}
	}

	.hero {
		background-image: url(../images/home-image-1.jpg);
		background-size: cover;
		background-position: center;

		height: 85%;
	}


	h1 {
		text-transform: lowercase;
		// font-size: 6.2rem;
		font-size: calc(1.2rem + 3.5vw);
		// letter-spacing: 0.67rem;
		letter-spacing: calc(0.3rem + 0.35vw);
		font-weight: 900;
		font-style: italic;
		
		color: $accent3;

		z-index: 100;
		position: absolute;
		// bottom: 40rem;
		// bottom: calc(10rem + 25vh);
		bottom: 35vh;

		left: calc(10rem + 25vw);


		// width: 60rem;
		width: calc(30rem + 30vw);

		span {
			font-family: $secondaryFont;
			text-transform: uppercase;
			// font-size: 11.12rem;
			font-size: calc(1.5rem + 6vw);

			color: $accent2;
		}
	}
}

// blog and contact page headers
.blog-page,
.contact-page {
	header {
		background-size: cover;
		background-position: center;

		height: 70vh;

		position: relative;
	}

	h1 {
		font-weight: bold;
		// font-size: 8.7rem;
		font-size: calc(3rem + 5vw);
		// line-height: 5.8rem;
		line-height: calc(3.4rem + 3vw);
		// letter-spacing: 0.9rem;
		letter-spacing: calc(0.45rem + 0.45vw);

		color: $white;

		display: block;
		width: 90%;

		// margin-top: 25vh;
		position: absolute;
		// bottom: 20rem;
		bottom: calc(12rem + 8vw);
	}
}

// blog header
.blog-page header {
	background-image: url(../images/blog-image-1.jpg);
}

.contact-page header{
	background-image: url(../../images/contact-image-1.jpg);
}