// variables

	// Wrapper width
	$wrapperMaxWidth: 1400px;
	$wrapperWidth: 85%;
	
	// background colours
	$primaryBackground: #D2F9F1;
	$secondaryBackground: #50E3C2;
	$footerBackground: #2C2C2C;

	// font colours + pseudo states
	$fontBlack: #2C2C2C;
	$fontWhite: #FAFFFE;
	$primaryAccent: #063974;
	$secondaryAccent: #0C5F4C;

	
	// font stacks
	$primaryFont: 'Lato', sans-serif;
	$secondaryFont: 'Playfair Display SC', serif;