// variables

	// Wrapper width
	$wrapperMaxWidth: 1400px;
	$wrapperWidth: 85%;
	
	// background colours
	$primaryBackground: #D2F9F1;
	$secondaryBackground: lighten(#50E3C2, 20);
	$footerBackground: #2C2C2C;


	// font colours + pseudo states
	$black: #2C2C2C;
	$white: #FAFFFE;
	$accent1: #50E3C2;
	$accent2: #063974;
	$accent3: #0C5F4C;

	
	// font stacks
	$primaryFont: 'Lato', sans-serif;
	$secondaryFont: 'Playfair Display SC', serif;