// contact page
.contact-page {
	.form-container {
		background-color: $white;
		@include box-shadow(right);

		padding: calc(2rem + 2vw);
		
		position: relative;
		top: -15rem;

		width: $contentWidth;
	}
}

.contact-container {
	display: flex;
	justify-content: space-between;
}


.contact {
	display: flex;
	flex-direction: column;
	flex-basis: 25%;

	padding-top: calc(4rem + 4vw);

	a {
		font-size: calc(1.2rem + 1.2vw);
		font-weight: bold;
		letter-spacing: calc(0.1rem + 0.1vw);

		color: $black;

		transition: 0.1s opacity;	

		&:hover,
		&:focus {
			opacity: 60%;
		}
	}

	.social {
		display: flex;
		margin-bottom: calc(1rem + 1vw);

		a {
			margin-right: calc(1rem + 1vw);
		}
	}

	p {
		margin: 0;
	}

	address {
		margin-top: calc(0.9rem + 0.9vw);
	}
}