// Next step section
.next-step {
	background-color: $secondaryBackground;

	&-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		h2 {
			color: $accent2;
		}
	}

	.image,
	.text {
		flex-basis: 45%;
		max-width: 45%;
	}

	img {
		width: calc(-3rem + 48vw);
		min-width: calc(-2.2rem + 48vw);
	}

	.image {
		position: relative;

		&-1 {
			direction: rtl;
			top: calc(-2.5rem - 2.5vw);

			img {
				@include box-shadow(right);
			}
		}

		&-2 {
			order: 4;
			bottom: calc(-2.5rem - 2.5vw);
			img {
				@include box-shadow(left);
			}
		}
	}

	.text {
		&-2 {
			text-align: right;
		}
	}
}


// free trip section
.free-trip {
	text-align: center;
	background-color: $white;
}

.banner-image img {
	min-height: 15rem;
}