@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

address {
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.wrapper {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #FAFFFE;
}

h2 {
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 5.8rem;
  letter-spacing: 0.38rem;
  color: #0C5F4C;
  margin-bottom: 1rem;
}

h3 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 5.8rem;
  letter-spacing: 0.32rem;
  color: #0C5F4C;
}

p {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
  color: #2C2C2C;
  margin-bottom: 2.8rem;
}

.button,
button {
  font-family: "Playfair Display SC", serif;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  color: #FAFFFE;
  background-color: #063974;
  display: inline-block;
  padding: 1rem 2rem;
}

.button:hover, .button:focus,
button:hover,
button:focus {
  background-color: #0951a4;
}

a,
button {
  -webkit-transition: 0.1s background-color, 0.1s color;
  transition: 0.1s background-color, 0.1s color;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
}

.top-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar ul a {
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #FAFFFE;
  display: inline-block;
  padding: 1rem 2rem;
}

.top-bar ul a:hover, .top-bar ul a:focus {
  color: #50E3C2;
}

.top-bar input,
.top-bar label {
  display: none;
}

.logo {
  font-family: "Playfair Display SC", serif;
  font-size: 3.46rem;
  font-weight: 900;
  font-style: italic;
  color: #50E3C2;
  padding: 1rem;
}

.home-page header {
  height: 100vh;
  position: relative;
}

.home-page header .accent-image {
  z-index: 90;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../images/header-box.jpg);
  background-size: cover;
  height: calc(20rem + 30vw);
  width: calc(20rem + 30vw);
}

.home-page .hero {
  background-image: url(../images/home-image-1.jpg);
  background-size: cover;
  background-position: center;
  height: 85%;
}

.home-page h1 {
  text-transform: lowercase;
  font-size: 6.2rem;
  letter-spacing: 0.67rem;
  font-weight: 900;
  font-style: italic;
  color: #0C5F4C;
  z-index: 100;
  position: absolute;
  bottom: 40rem;
  left: calc(15rem + 25vw);
  width: 40rem;
}

.home-page h1 span {
  font-family: "Playfair Display SC", serif;
  text-transform: uppercase;
  font-size: 11.12rem;
  color: #063974;
}

.blog-page header,
.contact-page header {
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.blog-page h1,
.contact-page h1 {
  font-weight: bold;
  font-size: 8.7rem;
  line-height: 5.8rem;
  letter-spacing: 0.9rem;
  color: #FAFFFE;
  margin-top: 25vh;
}

.blog-page header {
  background-image: url(../images/blog-image-1.jpg);
}

.contact-page header {
  background-image: url(../../images/contact-image-1.jpg);
}

.visit {
  padding: 10rem 0;
}

.visit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visit .text {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.visit .image {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: auto;
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
}

.gallery {
  background-color: #d4f8f0;
  padding: 10rem 0;
}

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .image {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.info {
  padding: 8rem 0;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-item {
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 8rem;
  padding-bottom: 5rem;
}

.info .icon {
  background-color: #50E3C2;
  color: #FAFFFE;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}

.info i {
  font-size: 2.6rem;
  display: inline-block;
}

.next-step {
  background-color: #d4f8f0;
}

.next-step-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.next-step-container h2 {
  color: #063974;
}

.next-step .image,
.next-step .text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  max-width: 45%;
}

.next-step img {
  width: 45vw;
  min-width: 45vw;
}

.next-step .image {
  position: relative;
}

.next-step .image-1 {
  direction: rtl;
  top: -5rem;
}

.next-step .image-1 img {
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
}

.next-step .image-2 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  bottom: -5rem;
}

.next-step .image-2 img {
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
}

.next-step .text-2 {
  text-align: right;
}

.free-trip {
  text-align: center;
  background-color: #FAFFFE;
}

.free-trip .text {
  padding: 10rem 0;
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

form input,
form textarea {
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
  background-color: inherit;
  padding: 2rem;
}

form input {
  border: none;
  border-bottom: 2px solid #50E3C2;
  width: 100%;
}

form textarea {
  border: 2px solid #50E3C2;
  height: 20rem;
}

#comment,
#message,
button {
  grid-column: span 2;
}

.blog-page article {
  width: 65%;
  position: relative;
  top: -13.5rem;
}

.blog-page article .image {
  direction: rtl;
}

.blog-page article img {
  width: 65vw;
  max-width: 65vw;
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
}

.blog-page article .text {
  border: 5px solid #50E3C2;
  padding: 6rem 7.5rem 6rem 50%;
  margin-right: -1.5rem;
  margin-left: -50%;
  margin-bottom: -13.5rem;
}

.blog-page article time {
  margin-bottom: 3rem;
}

.blog-page article time span {
  font-weight: bold;
}

.blog-page time {
  font-style: italic;
  font-size: 2rem;
  color: #063974;
  display: block;
}

.blog-page main {
  position: relative;
}

.comments {
  padding: 6rem 0 10rem;
  width: 65%;
}

.comments h3 {
  font-size: 3rem;
  color: #2C2C2C;
  margin-bottom: 3rem;
}

.comments time {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.comment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7fr;
      grid-template-columns: 1fr 7fr;
}

.comment:first-of-type {
  margin-bottom: 6rem;
}

.comment .text {
  padding-left: 3rem;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25vw;
  position: absolute;
  right: 0;
  top: 10rem;
}

.sidebar h4 {
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: #063974;
  margin: 2rem 0;
}

.sidebar p {
  margin: 0;
}

.sidebar a {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  color: #0C5F4C;
  margin: 1rem 0 2rem;
}

.sidebar li {
  padding-left: 3.5rem;
  position: relative;
}

.sidebar li::before {
  content: '•';
  font-size: 2rem;
  color: #50E3C2;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}

.contact-page .form-container {
  background-color: #FAFFFE;
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
  padding: 4rem;
  position: relative;
  top: -15rem;
  width: 65%;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding-top: 8rem;
}

.contact a {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: #2C2C2C;
  -webkit-transition: 0.1s opacity;
  transition: 0.1s opacity;
}

.contact a:hover, .contact a:focus {
  opacity: 60%;
}

.contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.contact .social a {
  margin-right: 2rem;
}

.contact p {
  margin: 0;
}

.contact address {
  margin-top: 1.8rem;
}

footer {
  background-color: #2C2C2C;
  padding: 0.5rem;
  position: relative;
}

footer p {
  color: #FAFFFE;
  margin: 0;
}

footer .copyright {
  text-align: center;
}

footer .created {
  font-size: 1.6rem;
  position: absolute;
  left: 1rem;
  bottom: 0.5rem;
}

footer .created a {
  text-decoration: underline;
  -webkit-transition: 0.1s opacity;
  transition: 0.1s opacity;
}

footer .created a:hover, footer .created a:focus {
  opacity: 60%;
}
