@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

address {
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.wrapper {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #FAFFFE;
}

h2 {
  font-weight: bold;
  font-size: calc(1.7rem + 1.8vw);
  line-height: calc(2.9rem + 2.9vw);
  letter-spacing: calc(0.19rem + 0.19vw);
  color: #0C5F4C;
  margin-bottom: calc(0.4rem + 0.5vw);
}

h3 {
  font-weight: bold;
  font-size: calc(1.5rem + 1.5vw);
  line-height: calc(2rem + 3vw);
  letter-spacing: calc(0.16rem + 0.16vw);
  color: #0C5F4C;
}

p {
  font-size: calc(0.9rem + 0.9vw);
  line-height: calc(1.5rem + 1.6vw);
  letter-spacing: calc(0.08rem + 0.1vw);
  color: #2C2C2C;
  margin-bottom: calc(1.4rem + 1.4vw);
}

.button,
button {
  font-family: "Playfair Display SC", serif;
  font-size: calc(1rem + 1vw);
  line-height: calc(1.6rem + 1.6vw);
  letter-spacing: calc(0.05rem + 0.05vw);
  color: #FAFFFE;
  background-color: #063974;
  display: inline-block;
  padding: calc(0.5rem + 0.5vw) calc(1rem + 1vw);
}

.button:hover, .button:focus,
button:hover,
button:focus {
  background-color: #0951a4;
}

a,
button {
  -webkit-transition: 0.1s background-color, 0.1s color;
  transition: 0.1s background-color, 0.1s color;
}

.visit,
.gallery,
.free-trip .text {
  padding: calc(2rem + 6vw) 0;
}

.info {
  padding: calc(2rem + 4vw) 0;
}

.skip-link {
  z-index: 1000;
  background: white;
  color: black;
  border-radius: 5px;
  opacity: 90%;
  position: absolute;
  left: -1000px;
  top: 5px;
  padding: 1rem;
  margin: 1rem;
}

.skip-link:focus {
  color: black;
  left: 0;
  top: 0;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  position: relative;
  z-index: 200;
}

.top-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar ul a {
  font-size: calc(1rem + 1vw);
  line-height: calc(1.4rem + 1.5vw);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #FAFFFE;
  display: inline-block;
  padding: calc(0.5rem + 0.5vw) calc(1rem + 1vw);
}

.top-bar ul a:hover, .top-bar ul a:focus {
  color: #50E3C2;
}

.top-bar input,
.top-bar label {
  display: none;
}

.logo {
  font-family: "Playfair Display SC", serif;
  font-size: calc(1.7rem + 1.7vw);
  font-weight: 900;
  font-style: italic;
  color: #50E3C2;
  padding: 1rem;
}

.home-page header {
  height: 100vh;
  position: relative;
}

.home-page header .accent-image {
  z-index: 90;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../images/header-box.jpg);
  background-size: cover;
  height: calc(20rem + 28vw);
  width: calc(20rem + 28vw);
  max-height: 80vh;
}

.home-page .hero {
  background-image: url(../images/home-image-1.jpg);
  background-size: cover;
  background-position: center;
  height: 85%;
}

.home-page h1 {
  text-transform: lowercase;
  font-size: calc(1.2rem + 3.5vw);
  letter-spacing: calc(0.3rem + 0.35vw);
  font-weight: 900;
  font-style: italic;
  color: #0C5F4C;
  z-index: 100;
  position: absolute;
  bottom: 35vh;
  left: calc(10rem + 25vw);
  width: calc(30rem + 30vw);
}

.home-page h1 span {
  font-family: "Playfair Display SC", serif;
  text-transform: uppercase;
  font-size: calc(1.5rem + 6vw);
  color: #063974;
}

.blog-page header,
.contact-page header {
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
}

.blog-page h1,
.contact-page h1 {
  font-weight: bold;
  font-size: calc(3rem + 5vw);
  line-height: calc(3.4rem + 3vw);
  letter-spacing: calc(0.45rem + 0.45vw);
  color: #FAFFFE;
  display: block;
  width: 90%;
  position: absolute;
  bottom: calc(12rem + 8vw);
}

.blog-page header {
  background-image: url(../images/blog-image-1.jpg);
}

.contact-page header {
  background-image: url(../../images/contact-image-1.jpg);
}

.visit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visit .text {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.visit .image {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: auto;
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
}

.gallery {
  background-color: #d4f8f0;
}

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .image {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-item {
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: calc(4rem + 4vw);
  padding-bottom: calc(1.5rem + 2.5vw);
}

.info .icon {
  background-color: #50E3C2;
  color: #FAFFFE;
  border-radius: 50%;
  width: calc(2.5rem + 2.5vw);
  height: calc(2.5rem + 2.5vw);
  padding: calc(0.4rem + 0.4vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: calc(0.5rem + 0.5vw);
  top: calc(0.25rem + 0.25vw);
}

.info i {
  font-size: calc(1.3rem + 1.3vw);
  display: inline-block;
}

.next-step {
  background-color: #d4f8f0;
}

.next-step-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.next-step-container h2 {
  color: #063974;
}

.next-step .image,
.next-step .text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  max-width: 45%;
}

.next-step img {
  width: calc(-3rem + 48vw);
  min-width: calc(-2.2rem + 48vw);
}

.next-step .image {
  position: relative;
}

.next-step .image-1 {
  direction: rtl;
  top: calc(-2.5rem - 2.5vw);
}

.next-step .image-1 img {
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
}

.next-step .image-2 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  bottom: calc(-2.5rem - 2.5vw);
}

.next-step .image-2 img {
  -webkit-box-shadow: -15px 15px #50E3C2;
          box-shadow: -15px 15px #50E3C2;
}

.next-step .text-2 {
  text-align: right;
}

.free-trip {
  text-align: center;
  background-color: #FAFFFE;
}

.banner-image img {
  min-height: 15rem;
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: calc(1.5rem + 1.5vw);
}

form input,
form textarea {
  font-weight: 300;
  font-size: calc(1rem + 1vw);
  line-height: calc(1.6rem + 1.6vw);
  letter-spacing: calc(0.1rem + 0.1vw);
  background-color: inherit;
  padding: calc(1rem + 1vw);
}

form input {
  border: none;
  border-bottom: 2px solid #50E3C2;
  width: 100%;
}

form textarea {
  border: 2px solid #50E3C2;
  height: calc(10rem + 10vw);
}

#comment,
#message,
button {
  grid-column: span 2;
}

.blog-page article {
  width: 65%;
  position: relative;
  top: -13.5rem;
}

.blog-page article .image {
  direction: rtl;
}

.blog-page article img {
  width: 65vw;
  max-width: 65vw;
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
}

.blog-page article .text {
  border: 5px solid #50E3C2;
  padding: calc(2rem + 3.5vw) calc(2rem + 3.5vw) calc(1rem + 3vw) 50%;
  margin: 0 -1.5rem -13.5rem -50%;
}

.blog-page article time {
  margin-bottom: calc(1.5rem + 1.5vw);
}

.blog-page article time span {
  font-weight: bold;
}

.blog-page time {
  font-style: italic;
  font-size: calc(1rem + 1vw);
  color: #063974;
  display: block;
}

.blog-page main {
  position: relative;
}

.comments {
  padding: calc(3rem + 3vw) 0 calc(5rem + 5vw);
  width: 65%;
}

.comments h3 {
  font-size: calc(1.5rem + 1.5vw);
  color: #2C2C2C;
  margin-bottom: calc(1.5rem + 1.5vw);
}

.comments time {
  font-style: normal;
  font-weight: bold;
  letter-spacing: calc(0.1rem + 0.1vw);
  margin-bottom: calc(0.5rem + 0.5vw);
}

.comment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(6rem, 1fr) 7fr;
      grid-template-columns: minmax(6rem, 1fr) 7fr;
}

.comment:first-of-type {
  margin-bottom: calc(3rem + 3vw);
}

.comment .text {
  padding-left: calc(1.5rem + 1.5vw);
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 26vw;
  position: absolute;
  right: 0;
  top: calc(5rem + 5vw);
}

.sidebar h4 {
  font-weight: bold;
  font-size: calc(1.25rem + 1.25vw);
  letter-spacing: calc(0.05rem + 0.05vw);
  color: #063974;
  margin: calc(1rem + 1vw) 0;
}

.sidebar p {
  margin: 0;
}

.sidebar a {
  font-weight: bold;
  font-size: calc(1rem + 1vw);
  letter-spacing: calc(0.125rem + 0.125vw);
  color: #0C5F4C;
  margin: calc(0.5rem + 0.5vw) 0 calc(1rem + 1vw);
  -webkit-transition: 0.1s opacity;
  transition: 0.1s opacity;
}

.sidebar a:hover, .sidebar a:focus {
  opacity: 60%;
}

.sidebar li {
  padding-left: calc(1.5rem + 2vw);
  position: relative;
}

.sidebar li::before {
  content: '•';
  font-size: calc(1rem + 1vw);
  color: #50E3C2;
  position: absolute;
  left: calc(0.5rem + 0.5vw);
  top: 0.5rem;
}

.contact-page .form-container {
  background-color: #FAFFFE;
  -webkit-box-shadow: 15px 15px #50E3C2;
          box-shadow: 15px 15px #50E3C2;
  padding: calc(2rem + 2vw);
  position: relative;
  top: -15rem;
  width: 65%;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding-top: calc(4rem + 4vw);
}

.contact a {
  font-size: calc(1.2rem + 1.2vw);
  font-weight: bold;
  letter-spacing: calc(0.1rem + 0.1vw);
  color: #2C2C2C;
  -webkit-transition: 0.1s opacity;
  transition: 0.1s opacity;
}

.contact a:hover, .contact a:focus {
  opacity: 60%;
}

.contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: calc(1rem + 1vw);
}

.contact .social a {
  margin-right: calc(1rem + 1vw);
}

.contact p {
  margin: 0;
}

.contact address {
  margin-top: calc(0.9rem + 0.9vw);
}

footer {
  background-color: #2C2C2C;
  padding: calc(0.25rem + 0.25vw);
  position: relative;
}

footer p {
  color: #FAFFFE;
  margin: 0;
}

footer .copyright {
  text-align: center;
}

footer .created {
  font-size: calc(0.8rem + 0.8vw);
  position: absolute;
  left: 1rem;
  bottom: 0.5rem;
}

footer .created a {
  text-decoration: underline;
  -webkit-transition: 0.1s opacity;
  transition: 0.1s opacity;
}

footer .created a:hover, footer .created a:focus {
  opacity: 60%;
}

@media (max-width: 1024px) {
  .home-page header {
    height: 80vh;
  }
  .home-page h1 {
    left: 20vw;
  }
  .home-page .visit .image {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .next-step {
    padding: 2rem 0;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
  .top-bar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #2C2C2C;
    position: fixed;
    top: 0;
    right: -16rem;
    padding: 5.5rem 2rem 3rem;
    width: 16rem;
    -webkit-transition: 0.2s right;
    transition: 0.2s right;
  }
  .top-bar input,
  .top-bar label {
    display: inline;
    position: fixed;
    z-index: 500;
    top: 1rem;
    right: 2.5rem;
  }
  .top-bar input {
    opacity: 0;
  }
  .top-bar input:checked ~ ul {
    right: 0;
  }
  .top-bar input:focus ~ label {
    color: #50E3C2;
    outline: 1px dotted #50E3C2;
  }
  .top-bar label {
    font-size: 2rem;
    cursor: pointer;
    color: white;
    padding: 1rem;
    text-shadow: -1px 1px #50E3C2;
  }
  .top-bar label:hover {
    color: #50E3C2;
  }
  .logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .home-page header {
    height: 60vh;
  }
  .home-page header .accent-image {
    height: 40vw;
    width: 40vw;
  }
  .home-page h1 {
    bottom: 25vh;
    left: 14vw;
  }
  .blog-page header,
  .contact-page header {
    height: 50vh;
  }
  .blog-page h1,
  .contact-page h1 {
    bottom: 14.5rem;
    text-align: center;
  }
  .home-page .visit-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-page .visit .text,
  .home-page .visit .image {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .home-page .visit .image {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 2rem;
  }
  .home-page .visit .text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .gallery-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .gallery .image {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
  }
  .gallery .image:last-of-type {
    margin-top: 4%;
  }
  .blog-page article {
    top: -8rem;
    width: 100%;
  }
  .blog-page article img {
    width: 100vw;
    max-width: 100vw;
  }
  .blog-page .comments {
    width: 100%;
    padding-top: 8rem;
  }
  .sidebar {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 3rem;
  }
  .sidebar .image {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar .text {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .contact-page .form-container {
    top: -10rem;
    width: 100%;
  }
  .contact-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact {
    padding-top: 0;
    margin-top: -6rem;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact address {
    margin-top: 0;
    text-align: center;
    margin-bottom: 2rem;
  }
  .contact address p:not(:first-child) {
    display: inline;
  }
  footer .created {
    position: static;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .home-page h1 {
    left: 8vw;
  }
  .home-page h2 {
    text-align: center;
  }
  .home-page .visit .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .home-page .visit .button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .gallery .image {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin: 1rem;
  }
  .info-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .info-item:last-of-type {
    padding-bottom: 0;
  }
  .next-step .image,
  .next-step .text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
  .next-step img {
    width: 100vw;
  }
  .next-step .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .next-step .text .button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .next-step .image-2 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 6rem;
  }
  form input {
    grid-column: span 2;
  }
  .comments {
    padding-bottom: 3rem;
  }
  .sidebar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidebar .image {
    -ms-flex-preferred-size: 85%;
        flex-basis: 85%;
    margin: 2rem 0;
  }
  .sidebar .text {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar .text p:first-of-type {
    text-align: center;
  }
  .contact {
    margin: -4rem 0 2.5rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
